@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*
{
    margin: 0;
    padding: 0;

    border: 0;
    font-family: 'Open Sans', sans-serif;
}
html
{
 height: 100% !important;

}
@-webkit-keyframes hpanimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes hpanimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes hpanimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
body
{
    height: 100%;
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212834+0,171a22+100 */

    background: #212834;
    /* Old browsers */
    background:    -moz-linear-gradient(top, #212834 0%, #171a22 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #212834 0%, #171a22 100%);
    /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom, #212834 0%, #171a22 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#212834', endColorstr='#171a22', GradientType=0);
    /* IE6-9 */

    ;
}
.topbar
{
    width: 100%;
    height: 50px;
line-height: 50px;
    background: url('img/bgtopbar.jpg');
}
.statusbar
{

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 15px 0px;
background: rgba(0,0,0,0.6);
        box-shadow: 0 0 90px rgba(0, 0, 0, .7);
}
.hp
{
    overflow: hidden;

    width: 50%;
    margin: 0 auto;
    min-width: 200px;
 max-width: 300px;
    height: 10px;


    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .3);

}
.hpfill
{
    float: left;

    width: 100%;
    height: 100%;
background: linear-gradient(to right, #8c0002 24%,#ff0c10 50%,#8c0002 74%,#8c0002 78%,#8c0002 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-size: 400% 400%;

-webkit-animation: hpanimation 2s ease infinite;
-moz-animation: hpanimation 2s ease infinite;
animation: hpanimation 2s ease infinite;
-webkit-box-shadow: inset 1px 1px 0px 1px rgba(255,255,255,0.3);
-moz-box-shadow: inset 1px 1px 0px 1px rgba(255,255,255,0.3);
box-shadow: inset 1px 1px 0px 1px rgba(255,255,255,0.3);
    border-radius: 15px;


}
.avatar
{
    width: 150px;
    height: 150px;
    margin: 50px auto;

    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    float: left;
    
}
.content
{
    width: 100%;
    height: calc(100% - 350px);
        padding-top: 150px;
    background: url("img/bg.jpg") center no-repeat;
    -webkit-box-shadow: inset 0px 0px 204px 71px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 204px 71px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 204px 71px rgba(0,0,0,0.75);


}

.effect
{
    width: 300px;
    height: 300px;

    opacity: 0;
}
@keyframes attackanimation
{
    0%
    {
        opacity: 1;
        transform:scale(0.7, 0.7);
    }
    50% {        transform:scale(1, 1);
}
    100%
    {
        opacity: 0;
        background-position: -1500px 0;
                transform:scale(0.7, 0.7);

    }
}
.attack
{
    animation: attackanimation .3s steps(5);

    background: url('img/attack.png') no-repeat;
    background-size: auto 300px !important;
}
.monstro
{



    width: 300px;
    height: 250px;

    margin: 0 auto;

background-repeat: no-repeat;
background-position:center;

}
@keyframes breathing
{
    0%
    {
        transform: scale(1, 1);
    }
    50%
    {
        transform: scale(1, .97);
    }
    100%
    {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes hit
{
    0%
    {
        transform: scale(1, 1);
    }
    50%
    {
        transform: scale(1, .80);
    }
    75%
    {
        transform: scale(1, 1.20) -webkit-filter: brightness(700%);
    }
    100%
    {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes bright
{
    0%
    {
        -webkit-filter: brightness(100%);
    }
    50%
    {
        -webkit-filter: brightness(400%) drop-shadow(0px 0px 10px white);
    }
    100%
    {
        -webkit-filter: brightness(100%);
    }
}
.hit
{
    animation: hit .1s linear, bright .1s linear, breathing 3s linear infinite !important;
}

@-webkit-keyframes damageeffect
{
    0%
    {
        -webkit-transform: scale(1) translate(0px, 0px);
           -moz-transform: scale(1) translate(0px, 0px);
            -ms-transform: scale(1) translate(0px, 0px);
             -o-transform: scale(1) translate(0px, 0px);
                transform: scale(1) translate(0px, 0px);
    }
    50%
    {
        -webkit-transform: scale(.7) translate(50px, -50px);
           -moz-transform: scale(.7) translate(50px, -50px);
            -ms-transform: scale(.7) translate(50px, -50px);
             -o-transform: scale(.7) translate(50px, -50px);
                transform: scale(.7) translate(50px, -50px);
    }
    65%
    {
        opacity: 1;
    }
    100%
    {
        -webkit-transform: scale(.2) translate(0px, -100px);
           -moz-transform: scale(.2) translate(0px, -100px);
            -ms-transform: scale(.2) translate(0px, -100px);
             -o-transform: scale(.2) translate(0px, -100px);
                transform: scale(.2) translate(0px, -100px);

        opacity: 0;
    }
}
@keyframes damageeffect
{
    0%
    {
        -webkit-transform: scale(1) translate(0px, 0px);
           -moz-transform: scale(1) translate(0px, 0px);
            -ms-transform: scale(1) translate(0px, 0px);
             -o-transform: scale(1) translate(0px, 0px);
                transform: scale(1) translate(0px, 0px);
    }
    50%
    {
        -webkit-transform: scale(.7) translate(-50px, -100px);
           -moz-transform: scale(.7) translate(-50px, -100px);
            -ms-transform: scale(.7) translate(-50px, -100px);
             -o-transform: scale(.7) translate(-50px,- 100px);
                transform: scale(.7) translate(-50px, -100px);
    }
    65%
    {
        opacity: 1;
    }
    100%
    {
        -webkit-transform: scale(.2) translate(0px, 0px);
           -moz-transform: scale(.2) translate(0px, 0px);
            -ms-transform: scale(.2) translate(0px, 0px);
             -o-transform: scale(.2) translate(0px, 0px);
                transform: scale(.2) translate(0px, 0px);

        opacity: 0;
    }
}
.attackbubble
{
    font-family: Arial;
    font-size: 36px;

    position: absolute;
    z-index: 6;

    width: 100px;
    height: 100px;

    -webkit-animation: damageeffect .5s  cubic-bezier(0,1,.83,.67) !important;
       -moz-animation: damageeffect .5s  cubic-bezier(0,1,.83,.67) !important;
        -ms-animation: damageeffect .5s  cubic-bezier(0,1,.83,.67) !important;
         -o-animation: damageeffect .5s  cubic-bezier(0,1,.83,.67) !important;
            animation: damageeffect .5s  cubic-bezier(0,1,.83,.67) !important;

    color: white;
    text-shadow: 2px 0 0 red, -2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red;

    animation-fill-mode: forwards;
}

.shadowwrap
{



    width: 190px;


    padding: 10px;

    opacity: .3;

    -webkit-filter: blur(10px);
            filter: blur(10px);
            margin: -60px auto auto auto;
}
.shadow
{
    width: 100%;
    height: 20px;
    margin: 0 auto;

    border-radius: 50%;
    background: black;
}
.gold {text-align:center; font-size: 24px; color: white;   line-height: 50px;   text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;}
.wrapmonster{width: 400px;     position: relative;
    margin: auto;
}
.char {
 background: url("monsprite/char1.gif") center;
    height: 120px; width: 120px;
    margin: 0 auto;
border-radius:4px;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.5);
}
.charicon {width:36px; float: left; margin: 7px; height: 36px;  background: url("monsprite/char1.gif") 118px 140px rgba(255,255,255,0.2);
border-radius:50%;}
#playerhp {  margin:18px 0px 0px 20px ; float: left; }